:host{
    height: 70px;
}

.app-header {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: rgba(157, 153, 153, 0.148);
    color: whitesmoke;
    margin-bottom: 15px;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    padding: 12px;
    width: 100%;
    box-sizing: none;

    nav {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin-inline-start: 12px;
        margin-inline-end: 12px;

        .btn-8 {
            color: rgb(155, 212, 155);
            text-align: center;
            display: inline-block;
            padding: 0px 25px;
            border: 1px solid transparent;
            cursor: pointer;
            letter-spacing: 2px;
            position: relative;
            overflow: hidden;
            background-color: transparent;
            height: 70px;

            .header-img {
                height: 50px;
                width: 50px;
            }
        }

        .btn-8:before {
            content: "";
            position: absolute;
            height: 0;
            width: 100%;
            background: #fff;
            left: 0;
            bottom: 0;
            transition: all .3s;
            opacity: 0.3;
        }

        .btn-8:hover:before {
            height: 100%;
        }


    }

}

@media screen and(max-width:1100px) {
    :host{
        height: 50px;
    }
    .app-header {
        height: 50px;
        nav {
            .btn-8 {
                height: 50px;

                .header-img {
                    height: 40px;
                    width: 40px;
                }
            }
        }
    }
}

@media screen and(max-width:500px) {
    .app-header {
        height: 50px;
        margin: 0;
        padding: 0;
        margin-bottom: 12px;
        nav {
            .btn-8 {
                height: 50px;
                margin: 0;
            }
        }
    }
}