.transfer-container {
    form {
        margin: 8px;
        display: flex;
        align-items: flex-end;

        .amount-input {
            height: 20px;
        }

        .button-3 {
            height: 20px;
            padding: 0;
            padding: 6px;
            font-size: 12px;
            display: flex;
            align-items: center;
        }
    }
}