:host {
    height: 100%;

    .app-contact {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}


.add-button {
    margin-top: 12px;
    border-radius: 50%;
    align-self: center;
    cursor: pointer;
    height: 35px;
    width: 35px;

}

html,
body {
    overflow-y: hidden;
}