<section class="contact-edit">
    <h2>Contact: {{this.currContact.name}}</h2>
    <img *ngIf="currContact._id" class="contact-img" src='https://robohash.org/{{currContact._id}}?set=set4'>
    <form #form="ngForm" (ngSubmit)="onSaveContact()">
        <div class="inputs-container">
            <label for="name">Name:</label>
            <input [(ngModel)]="currContact.name" required placeholder="Name" type="text" name="name" id="name">

            <label for="phone">Phone Number:</label>
            <input [(ngModel)]="currContact.phone" required placeholder="Phone Num" type="text" name="phone" id="phone">

            <label for="email">Email:</label>
            <input [(ngModel)]="currContact.email" required placeholder="Email" type="text" name="email" id="email">

        </div>
        <button class="button-3" [disabled]="form.invalid">Save</button>
    </form>
</section>