    .contact-preview {
        display: flex;
        color: rgb(39, 43, 39);
        background-color: rgba(125, 166, 161, 0.57);
        width: 500px;
        justify-content: space-between;
        font-family: Arial, Helvetica, sans-serif;
        align-items: center;
        padding: 2px 2px 0 5px;
        border-radius: 15px;
        box-shadow: 3px 3px 3px 0px #0c310e, inset 2px 2px 8px 0px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
        overflow-x: hidden;

        &:hover {
            color: rgb(155, 212, 155);
        }

        .contact-info {
            display: flex;
            align-items: center;
            gap: 20px;

            .contact-img {
                width: 70px;
                height: 60px;
                background-size: 100%;
                background-repeat: no-repeat;
            }
        }

        .contact-actions {
            width: 25%;
            margin-inline-end: 12px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transform: translateX(115%);
            transition: .3s;

            .contact-action-img {
                height: 30px;
                width: 30px;
            }
        }

        &:hover .contact-actions {
            transform: translateX(0);
        }

        button {
            margin: 0px;
            padding: 0px;
            background-color: transparent;
            border: none;
            text-decoration: underline;
            cursor: pointer;
        }
    }



    @media screen and (max-width:1100px) {
        :host {
            // width: 100%;
        }

        .contact-preview {
            // width: 100%;
            font-size: 12px;
            justify-content: space-between;
            height: 50px;
            overflow-y: hidden;

            .contact-info {
                gap: 5px;

                .contact-img {
                    height: 50px;
                    background-size: 85%;
                    background-repeat: no-repeat;
                }
            }

            .contact-actions {
                width: 120px;

                button {
                    .contact-action-img {
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }
    }


    @media screen and (max-width:505px) {
        :host {
            width: 100%;
        }

        .contact-preview {
            // width: 270px;
            width: 100%;
            font-size: 12px;
            justify-content: space-between;
            height: 40px;
            overflow-y: hidden;
            font-size: 10px;

            .contact-actions {
                width: 110px;

                button {
                    font-size: 8px;
                }

                .contact-action-img {
                    height: 12px;
                    width: 12px;
                }
            }

            .contact-info {
                gap: 5px;

                .contact-img {
                    width: 50px;
                    height: 40px;
                    background-size: 80%;
                    background-repeat: no-repeat;
                }
            }
        }
    }